body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #F2F5F9;
  color: #6C727F;
  font-size: 1rem;
}

.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 460px;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.card-body {
  margin: 30px;
  margin-top: 0;
}

.card-footer {
  display: flex;
  align-items: center;
  padding: 20px;
  border-top: #efefef solid 1px;
}

.images {
  position: relative;
}

.img-card {
  max-width: 100%;
  border-radius: 10px 10px 0 0;
}

.img-transparent {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.img-footer {
  border-radius: 50%;
  border: #efefef solid 4px;
  max-width: 35px;
  margin: 10px;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #20293A;
  margin-top: 0;
}

.name-user {
  font-weight: bold;
  color: black;
  margin: 0;
}