<div class="d-flex justify-content-between mb-4">
  <h5 class="font-weight-bold">Listado de empleados.</h5>
  <a routerLink='/home/empleados/novedades' class="btn btn-primary">Novedades de incapacidades y licencias</a>
</div>
<div class="table-responsive text-center">
  <table class="table table-hover table-bordered">
      <thead class="cabecera-tabla">
          <tr>
              <th scope="col">Código de empleado</th>
              <th scope="col">Tipo novedad</th>
              <th scope="col">Valor novedad</th>
              <th scope="col">Detalle</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td class="p-1">
            <input type="text" class="form-control" id="codigoempleado">
          </td>
          <td class="p-1">
            <input type="text" class="form-control" id="tiponovedad">
          </td>
          <td class="p-1">
            <input type="text" class="form-control" id="valornovedad">
          </td>
          <td class="p-1">
            <input type="text" class="form-control" id="detalle">
          </td>
        </tr>
          <tr>
              <td>1</td>
              <td>1202023</td>
              <td>Elkin jimenez</td>
              <td>ekn</td>
          </tr>
          <tr>
              <td>2</td>
              <td>12342023</td>
              <td>Omar jimenez</td>
              <td>omg</td>
          </tr>
          <tr>
              <td>3</td>
              <td>1202023</td>
              <td>Elkin Sanchez</td>
              <td>els</td>
          </tr>
          <tr>
              <td>4</td>
              <td>10203222</td>
              <td>Camilo Lopez</td>
              <td>camlo</td>
          </tr>
      </tbody>
  </table>
</div>
