<h5 class="font-weight-bold">Listado de empleados.</h5>
<div class="table-responsive text-center">
  <table class="table table-hover table-bordered">
    <thead class="cabecera-tabla">
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Documento</th>
        <th scope="col">Nombres</th>
        <th scope="col">Usuario</th>
        <th scope="col">Fecha ingreso</th>
        <th scope="col">Detalle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>1202023</td>
        <td>Elkin jimenez</td>
        <td>ekn</td>
        <td>09/01/2020</td>
        <td>Primer usuario</td>
      </tr>
      <tr>
        <td>2</td>
        <td>12342023</td>
        <td>Omar jimenez</td>
        <td>omg</td>
        <td>09/01/2020</td>
        <td>Segundo usuario</td>
      </tr>
      <tr>
        <td>3</td>
        <td>1202023</td>
        <td>Elkin Sanchez</td>
        <td>els</td>
        <td>19/01/2020</td>
        <td>Tercer usuario</td>
      </tr>
      <tr>
        <td>4</td>
        <td>10203222</td>
        <td>Camilo Lopez</td>
        <td>camlo</td>
        <td>19/01/2019</td>
        <td>Cuarto usuario</td>
      </tr>
    </tbody>
  </table>
</div>
