<div id="mySidebar" class="sidebar text-white">
  <a class="closebtn" (click)="accionarMenu($event)">
    <i class="{{menu.icono}} fa-lg"></i>
  </a>
  <!-- EMPLEADOS -->
  <a data-toggle="collapse" data-target="#menu-empleados" aria-expanded="false" aria-controls="menu-empleados" class="h5 pointer">Empleados</a>
  <div class="collapse" id="menu-empleados">
    <a routerLink='/home/empleados' class="h6 text-primary"><i class="fas fa-angle-right"></i> Lista de empleados</a>
    <a routerLink='/home/empleados/nuevo' class="h6 text-primary"><i class="fas fa-angle-right"></i> Nuevo empleado</a>
    <a routerLink='/home/empleados/carga-masiva' class="h6 text-primary"><i class="fas fa-angle-right"></i> Carga masiva</a>
  </div>
  <!-- NOVEDADES -->
  <a data-toggle="collapse" data-target="#menu-novedades" aria-expanded="false" aria-controls="menu-novedades" class="h5 pointer">Novedades</a>
  <div class="collapse" id="menu-novedades">
    <a routerLink='/home/novedades/novedades' class="h6 text-primary"><i class="fas fa-angle-right"></i> Incapacidades y licencias</a>
    <a routerLink='/home/novedades/otras-nov' class="h6 text-primary"><i class="fas fa-angle-right"></i> Otras novedades</a>
  </div>
  <a data-toggle="collapse" data-target="#menu-proyectos" aria-expanded="false" aria-controls="menu-proyectos" class="h5 pointer">Proyectos</a>
  <div class="collapse" id="menu-proyectos">
    <a routerLink='/home/proyectos/nuevo' class="h6 text-primary"><i class="fas fa-angle-right"></i> Nuevo proyecto</a>
  </div>
</div>
