<div *ngIf="Proyectos.length !== 0; else ProyectosNulo">
  <div *ngIf="CodProyecto === '' ">
    <div class="card">
      <div class="card-header">
        <h5>Selecciona un proyecto de la lista.</h5>
      </div>
      <div class="card-body">
        <div class="form-group">
          <select (change)="datosProyecto(CodProyecto)" [(ngModel)]="CodProyecto" name="tiponovedad"
            class="form-control form-control-lg" id="tiponovedad">
            <option value="" disabled>Seleccione</option>
            <option *ngFor="let p of Proyectos" value="{{p.codigo}}">{{p.nombre}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<app-datos-proyecto (DatosEnviados)="recibirCodProyecto($event)" [Proyecto]="ProyectoSeleccionado"></app-datos-proyecto>
<ng-template #ProyectosNulo>
  <div class="card">
    <div class="card-body text-center">
      <h5 class="my-4">No existen proyectos creados hasta el momento.</h5>
      <a routerLink='/home/proyectos/nuevo' class="btn btn-primary">Crear proyecto</a>
    </div>
  </div>
</ng-template>
<div *ngIf="validarProyectoSeleccionado()"></div>
