<nav class="navbar navbar-light text-white shadow">
  <h5>Nuevos empleados.</h5>
</nav>
<div class="container-fluid my-4">
  <div class="d-flex justify-content-between mb-4">
    <h5 class="font-weight-bold">Nuevo empleado.</h5>
    <a routerLink='../carga-masiva' class="btn btn-primary">Carga masiva</a>
  </div>
  <div class="card">
    <div class="card-header">
      <h6>Digite los campos requeridos.</h6>
    </div>
    <div class="card-body">
      <form action="" autocomplete="off">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="codigo">Código de empleado</label>
              <input type="text" class="form-control" id="codigo" placeholder="jimenezelkg">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="contrato">Tipo de contrato</label>
              <select class="form-control" id="contrato">
                <option value="" disabled>Seleccione</option>
                <option>Directo</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="nombres">Nombres</label>
              <input type="text" class="form-control" id="nombres" placeholder="Omar Madrigal">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="rol">Rol</label>
              <select class="form-control" id="rol">
                <option value="" disabled>Seleccione</option>
                <option>Analista junior</option>
                <option>Analista senior</option>
                <option>Gerente</option>
                <option>Analista senior</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="fecha">Fecha ingreso</label>
              <input type="date" class="form-control" id="fecha">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="equipo">Equipo</label>
              <input type="number" class="form-control" id="equipo" placeholder="850000">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="salariototal">Salario total</label>
              <input type="number" class="form-control" id="salariototal" placeholder="3200000">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="salario">Salario</label>
              <input type="number" class="form-control" id="salario" placeholder="3000000">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="beneficio">Beneficio</label>
              <input type="number" class="form-control" id="beneficio" placeholder="900000">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="costoestandarmes">Costo estandar mes</label>
              <input type="number" class="form-control" id="costoestandarmes" placeholder="1000000">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="numerodocumento">Número de documento</label>
              <input type="number" class="form-control" id="numerodocumento" placeholder="1234567890">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="usuario">Usuario</label>
              <input type="text" class="form-control" id="usuario" placeholder="omar">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="detalle">Detalle</label>
              <input type="text" class="form-control" id="detalle" placeholder="Usuario lider técnico">
            </div>
          </div>
          <div class="col-md-12 text-right">
            <button class="btn btn-primary btn-lg">Crear empleado</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
