<div class="d-flex justify-content-between mb-4">
  <h5 class="font-weight-bold">Nuevo empleado.</h5>
  <a routerLink='/home/empleados/carga-masiva' class="btn btn-primary">Carga masiva</a>
</div>
<div class="card">
  <div class="card-header">
    <h6>Digite los campos requeridos.</h6>
  </div>
  <div class="card-body">
    <form action="" autocomplete="off" class="container-fluid">
      <app-campos-empleado></app-campos-empleado>
      <div class="row">
        <div class="col-md-12 text-right">
          <a routerLink='/home/empleados' class="btn btn-danger btn-lg mx-2 text-white">Cancelar</a>
          <button class="btn btn-primary btn-lg">Crear empleado</button>
        </div>
      </div>
    </form>
  </div>
</div>
