<!-- <nav class="navbar navbar-expand-lg text-white fixed-top">
  <a class="navbar-brand">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link">Accion Uno</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Accion Dos</a>
      </li>
    </ul>
    <span class="navbar-text">
      Elkin Jimenez
    </span>
  </div>
</nav> -->



<div id="mySidebar" class="sidebar">
  <a class="h5" href="#">Empleados</a>
  <a class="h5" href="#">Horas extras</a>
  <a class="h5" href="#">Proyectos</a>
</div>
<div id="main">
  <a (click)="accionarMenu($event)">
    <i class="{{menu.icono}} fa-2x"></i>
  </a>
</div>
