<nav class="navbar navbar-light text-white shadow">
  <h5>Información de empleados.</h5>
</nav>
<div class="container-fluid my-4">
  <div class="accordion" id="acordeon-empleados">
    <div class="card">
      <a href="" class="card-header text-decoration-none" data-toggle="collapse" data-target="#collapse-nuevo"
        aria-controls="collapse-nuevo">
        <h5 class="font-weight-bold">Crear empleado.</h5>
      </a>
      <div id="collapse-nuevo" class="collapse show" data-parent="#acordeon-empleados">
        <div class="card-body">
          <app-nuevo></app-nuevo>
        </div>
      </div>
    </div>
    <div class="card">
      <a href="" class="card-header text-decoration-none" data-toggle="collapse" data-target="#collapse-carga-masiva"
        aria-controls="collapse-carga-masiva">
        <h5 class="font-weight-bold">Carga masiva.</h5>
      </a>
      <div id="collapse-carga-masiva" class="collapse" data-parent="#acordeon-empleados">
        <div class="card-body">
          <app-carga-masiva></app-carga-masiva>
        </div>
      </div>
    </div>
    <div class="card">
      <a href="" class="card-header text-decoration-none" data-toggle="collapse" data-target="#collapse-listado"
        aria-controls="collapse-listado">
        <h5 class="font-weight-bold">Listado de empleados.</h5>
      </a>
      <div id="collapse-listado" class="collapse" data-parent="#acordeon-empleados">
        <div class="card-body">
          <app-listado></app-listado>
        </div>
      </div>
    </div>
  </div>
</div>
