<div class="d-flex justify-content-between mb-4">
  <h5 class="font-weight-bold">Nueva novedad.</h5>
</div>
<div class="card">
  <div class="card-header">
    <h6>Digite los campos requeridos.</h6>
  </div>
  <div class="card-body">
    <form action="" autocomplete="off" class="container-fluid">
      <app-campos-novedad></app-campos-novedad>
      <div class="row">
        <div class="col-md-12 text-right">
          <a routerLink='/home/novedades/novedades' class="btn btn-danger btn-lg mx-2 text-white">Cancelar</a>
          <button class="btn btn-primary btn-lg">Crear novedad</button>
        </div>
      </div>
    </form>
  </div>
</div>
