<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="tiponovedad">Tipo de novedad</label>
      <select [(ngModel)]="novedad.tipoNovedad" name="tiponovedad" class="form-control" id="tiponovedad">
        <option value="" disabled>Seleccione</option>
        <option value="1">Bonos</option>
        <option value="2">Horas extras</option>
        <option value="3">Vacaciones</option>
        <option value="4">Incapacidades/Licencias</option>
        <option value="5">Observaciones</option>
        <option value="6">Otros</option>
      </select>
    </div>
  </div>
  <div class="col-md-4" *ngIf="novedad.tipoNovedad=='1' || novedad.tipoNovedad=='2'">
    <div class="form-group">
      <label for="codigoproyecto">Código del proyecto</label>
      <input [(ngModel)]="novedad.idProyecto" type="text" maxlength="5" name="codigoproyecto" class="form-control"
        id="codigoproyecto" placeholder="63413">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="codigoempleado">Código del empleado</label>
      <input [(ngModel)]="novedad.codigoEmpleado" type="text" maxlength="8" name="codigoempleado" class="form-control"
        id="codigoempleado" placeholder="10048278">
    </div>
  </div>
  <div class="col-md-4" *ngIf="novedad.tipoNovedad==='4'">
    <div class="form-group">
      <label for="razonlicencia">Razón</label>
      <select [(ngModel)]="novedad.razon" name="razonlicencia" class="form-control" id="razonlicencia">
        <option value="" disabled>Seleccione</option>
        <option value="1">Enfermedad General Medica (EGM)</option>
        <option value="2">Licencia de Maternidad (LM)</option>
        <option value="3">Accidente de Trabajo o Enfermedad Profesional (ATEP)</option>
        <option value="4">Licencia Remunerada (LR)</option>
        <option value="5">Licencia No Remunerada (LNR)</option>
        <option value="6">LUTO</option>
        <option value="6">PATERNIDAD</option>
        <option value="6">SANCIONES</option>
      </select>
    </div>
  </div>
  <div class="col-md-4" *ngIf="novedad.tipoNovedad==='3' || novedad.tipoNovedad==='4'">
    <div class="form-group">
      <label for="numerodiashabiles">Número días hábiles</label>
      <input [(ngModel)]="novedad.numeroDiasHabiles" type="number" name="numerodiashabiles" class="form-control"
        id="numerodiashabiles" placeholder="4">
    </div>
  </div>
  <div class="col-md-4" *ngIf="novedad.tipoNovedad!=='3'">
    <div class="form-group">
      <label for="valor">Valor</label>
      <input [(ngModel)]="novedad.valor" type="number" name="valor" class="form-control" id="valor"
        placeholder="100000">
    </div>
  </div>
  <div class="col-md-4" *ngIf="novedad.tipoNovedad=='1' || novedad.tipoNovedad=='2'">
    <div class="form-group">
      <label for="anio">Año</label>
      <input [(ngModel)]="novedad.anio" type="text" maxlength="4" name="anio" class="form-control" id="anio"
        placeholder="2020">
    </div>
  </div>
  <div class="col-md-4" *ngIf="novedad.tipoNovedad=='1' || novedad.tipoNovedad=='2'">
    <div class="form-group">
      <label for="mes">Mes</label>
      <input [(ngModel)]="novedad.mes" type="text" name="mes" class="form-control" id="mes" placeholder="Marzo">
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group">
      <label for="comentarios">Comentarios</label>
      <textarea [(ngModel)]="novedad.comentarios" class="form-control" id="comentarios" rows="2"></textarea>
    </div>
  </div>
</div>
