<div *ngIf="Proyecto">
  <div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <h4 class="my-0">Proyecto {{Proyecto.nombre}}</h4>
        <a placement="left" ngbTooltip="Cambiar a otro proyecto." (click)="cambiarProyecto()"
          class="btn text-white btn-danger">
          <i class="fas fa-times"></i>
        </a>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-xl-6">
          <div class="card" style="height: 100%;">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <h6>Código:</h6>
                <h5 class="font-weight-bold text-right">{{Proyecto.codigo}}</h5>
              </div>
              <div class="d-flex justify-content-between">
                <h6>Dirección:</h6>
                <h6 class="font-weight-bold text-right">{{Proyecto.direccion}}</h6>
              </div>
              <div class="d-flex justify-content-between">
                <h6>Línea de negocio:</h6>
                <h6 class="font-weight-bold text-right">{{Proyecto.lineaNegocio}}</h6>
              </div>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-between">
                <h6>Alcance:</h6>
                <h6 class="font-weight-bold text-right">{{Proyecto.alcance}}</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="card" style="height: 100%;">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <h5>
                  <span class="badge badge-primary">{{Proyecto.fechaInicioContractual}}</span> hasta
                  <span class="badge badge-primary">{{Proyecto.fechaFinContractual}}</span>
                </h5>
                <h5>{{Proyecto.duracionProyecto}} días</h5>
              </div>
              <hr class="my-1">
              <h6 class="text-right">Moneda: <span class="text-primary">{{Proyecto.moneda}}</span></h6>
              <div class="d-flex justify-content-between">
                <h6>Valor último contrato:</h6>
                <h6 class="font-weight-bold text-right">$ {{Proyecto.valorUltimoContrato}}</h6>
              </div>
              <div class="d-flex justify-content-between">
                <h6>Valor adjudicado:</h6>
                <h6 class="font-weight-bold text-right">$ {{Proyecto.valorTotalAdjudicado}}</h6>
              </div>
              <div class="d-flex justify-content-between">
                <h6>Valor formalizado HOST:</h6>
                <h6 class="font-weight-bold text-right">$ {{Proyecto.valorFormalizadoHost}}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end mt-2">
        <button [disabled]="!botonGenerar.estado" (click)="GenerarDNF()" class="btn btn-primary px-5">{{botonGenerar.texto}}</button>
      </div>
    </div>
  </div>
</div>
