<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="codigo">Código de empleado</label>
      <input [(ngModel)]="empleado.codigo" type="text" name="codigo" class="form-control" id="codigo"
        placeholder="jimenezelkg">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="contrato">Tipo de contrato</label>
      <select [(ngModel)]="empleado.tipoContrato" name="contrato" class="form-control" id="contrato">
        <option value="" disabled>Seleccione</option>
        <option value="1">Directo</option>
        <option value="2">Indefinido</option>
      </select>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="numerodocumento">Número de documento</label>
      <input [(ngModel)]="empleado.documento" type="text" name="numerodocumento" class="form-control"
        id="numerodocumento" placeholder="1234567890">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="rol">Rol</label>
      <select [(ngModel)]="empleado.rol" name="rol" class="form-control" id="rol">
        <option value="" disabled>Seleccione</option>
        <option *ngFor="let r of Rol" value="{{r.id}}">{{r.nombre}}</option>
      </select>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="nombres">Nombres</label>
      <input [(ngModel)]="empleado.nombres" type="text" class="form-control" id="nombres" placeholder="Omar Madrigal">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="fecha">Fecha ingreso</label>
      <input [(ngModel)]="empleado.fechaIngreso" type="date" class="form-control" id="fecha">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="equipo">Equipo</label>
      <input [(ngModel)]="empleado.equipo" type="number" class="form-control" id="equipo" placeholder="850000">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="tiposalario">Tipo de salario</label>
      <select [(ngModel)]="empleado.tipoSalario" class="form-control" id="tiposalario">
        <option value="" disabled>Seleccione</option>
        <option *ngFor="let t of TipoSalario" value="{{t.id}}">{{t.nombre}}</option>
      </select>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="salariototal">Salario total</label>
      <input [(ngModel)]="empleado.salarioTotal" type="number" class="form-control" id="salariototal"
        placeholder="3200000">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="salario">Salario</label>
      <input [(ngModel)]="empleado.salario" type="number" class="form-control" id="salario" placeholder="3000000">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="beneficio">Beneficio</label>
      <input [(ngModel)]="empleado.beneficio" type="number" class="form-control" id="beneficio" placeholder="900000">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="costoestandarmes">Costo estandar mes</label>
      <input [(ngModel)]="empleado.costoEstandarMes" type="number" class="form-control" id="costoestandarmes"
        placeholder="1000000">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="descuento">Descuento</label>
      <select [(ngModel)]="empleado.descuento" class="form-control" id="descuento">
        <option value="" disabled>Seleccione</option>
        <option *ngFor="let d of Descuento" value="{{d.id}}">{{d.nombre}}</option>
      </select>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="novedad">Novedad</label>
      <textarea [(ngModel)]="empleado.novedad" class="form-control" id="novedad" rows="1"></textarea>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="observaciones">Observaciones</label>
      <textarea [(ngModel)]="empleado.observaciones" class="form-control" id="observaciones" rows="1"></textarea>
    </div>
  </div>
</div>
