<div class="d-flex align-items-center d-flex justify-content-center toda-pagina">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-5">
        <div class="card shadow">
          <div class="card-header text-center">
            <h5>Inicio de sesión</h5>
          </div>
          <div class="card-body">
            <div class="text-center mb-3">
              <i class="fas fa-user-circle fa-8x text-secondary"></i>
              <h6 class="mt-3">Digite los datos solicitados.</h6>
            </div>
            <form class="mx-4" action="" autocomplete="off">
              <div class="form-group">
                <input [(ngModel)]="datosLogueo.usuario" (keyup)='activarEnvio($event)' name="usuario" type="text"
                  class="form-control" id="usuario" placeholder="Usuario">
              </div>
              <div class="form-group">
                <input [(ngModel)]="datosLogueo.clave" (keyup)='activarEnvio($event)' name="clave" type="password"
                  class="form-control" id="clave" placeholder="Contraseña">
              </div>
              <div class="text-center">
                <button [disabled]="!datosLogueo.enviar" (click)="validarDatos($event)" name="enviar" type="submit"
                  class="btn btn-primary btn-lg font-weight-bold">{{datosLogueo.texto}}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
